.rowScroll {
  overflow: auto;
}

.rowPonter {
  cursor: pointer;
}
.overAllContainer {
  box-shadow: 0px 1px 3px 0px #0000000d;
}
.overAll {
  background-color: var(--color-white);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.headerContainer {
  background-color: var(--color-primary-shade-4);
  /* padding: 16px 20px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pagination {
  border-top: 1px solid var(--color-gray-2);
  padding: 8px 20px;
}
.headerMargin {
  margin-top: 24px;
}
.rowPointer{
  cursor: pointer;
}